[submodule "servicios/usuarios"]
	path = servicios/usuarios
	url = https://github.com/EVPina/SOA_BACK_USUARIOS.git
[submodule "servicios/qr"]
	path = servicios/qr
	url = https://github.com/EVPina/SOA_BACK_QR.git
[submodule "servicios/ventas"]
	path = servicios/ventas
	url = https://github.com/EVPina/SOA_BACK_VENTAS.git
[submodule "servicios/cocina"]
	path = servicios/cocina
	url = https://github.com/EVPina/SOA_BACK_COCINA.git
[submodule "servicios/inventario"]
	path = servicios/inventario
	url = https://github.com/EVPina/SOA_BACK_INVENTARIO
[submodule "servicios/finanzas"]
	path = servicios/finanzas
	url = https://github.com/EVPina/SOA_BACK_FINANZAS
[submodule "servicios/mesas"]
	path = servicios/mesas
	url = https://github.com/EVPina/SOA_BACK_MESAS
[submodule "servicios/clientes"]
	path = servicios/clientes
	url = https://github.com/EVPina/SOA_BACK_CLIENTES
